
<h1 mat-dialog-title>Upload your Bill</h1>

<div mat-dialog-content>

    <!-- <p>What's your favorite city?</p>
    <mat-form-field>
        <mat-label>Favorite City</mat-label>
        <input matInput [(ngModel)]="data.purpose">
    </mat-form-field>

    <p>Your favorite food?</p> -->
    <mat-form-field>
        <!-- <mat-label>Upload Your Bill</mat-label> -->
        <!-- <input matInput [(ngModel)]="data.description"> -->
        <input class="ng-hide" id="input-file-id" multiple type="file" />
<label for="input-file-id" class="md-button md-raised md-primary">Choose Files To upload</label>
    </mat-form-field>

</div>

<div mat-dialog-actions>

<button mat-raised-button class="btn-block">Exit</button>
</div>